{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>{{ title }}</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'baths/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{% static 'baths/css/dorang.css' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">

    <!-- page navbar -->
    {% include 'baths/includes/nav.html' %}

{% block content %} {% endblock %}

    <!-- core  -->
    <script src="baths/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="baths/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="baths/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Dorang js -->
    <script src="baths/js/dorang.js"></script>

</body>
</html>
